.leaflet-container {
    height: 400px;
    width: 1100px;
  }
  
  .leaflet-map {
    height: 100%;
    width: 100%;
  }


/* Media query for phones */
@media (max-width: 768px) {
  .leaflet-container {
      height: 300px; 
      width: 100%; 
  }
}

/* Media query for tablets */
@media (min-width: 768px) and (max-width: 1024px) {
  .leaflet-container {
      height: 350px; 
      width: 100%; 
  }
}